.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.trackingList {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-around;
  align-items: center;
}
