.container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 16px solid #0b0b0b;
  border-radius: 50%;
  border-top: 16px solid darkred;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
