.container {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 3rem;
  z-index: 10;
}

.settings {
  position: absolute;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  left: 0;
  z-index: 100;
  bottom: -8.3rem;
  list-style-type: none;
  background-color: rgb(38, 12, 124);
  padding-inline-start: 0;
  width: 100%;
  gap: 1.2rem;
  box-sizing: border-box;
  display: none;
}

.settings li:hover {
  text-decoration: underline;
}

.loggedInUser {
  background-color: rgb(86, 46, 219);
  border-radius: 0.2rem;
  height: 3rem;
  color: white;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding: 1rem;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
}

.loggedInUser:hover .settings {
  display: flex;
}

.avatar {
  border-radius: 50%;
}
