.container {
  left: 0;
  display: flex;
  flex-direction: column;
  height: 3rem;
  z-index: 10;
}

.loggedInUser {
  background-color: darkred;
  border-radius: 0.2rem;
  height: 3rem;
  color: white;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding: 1rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
}

.avatar {
  border-radius: 50%;
}

.logout {
  background-color: #360e0e;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
