.cardContainer {
  position: relative;
  background-color: #030303;
  padding-bottom: 1rem;
  /* border-radius: 1rem; */
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}
