.container {
  max-width: 60rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0b0b;
  border-radius: 1rem;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}

.player:hover {
  text-decoration: underline;
}

.vacStatus {
  color: white;
  border-radius: 0.2rem;
  padding: 0.3rem;
  box-sizing: border-box;
}

.report {
  background-color: rgb(212, 0, 0);
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  align-items: center;
  cursor: pointer;
  border: none;
  margin: 1rem;
}

.report:hover {
  background-color: rgb(123, 22, 22);
  transition: 0.5s ease-in-out;
}
