.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  width: 100%;
  max-width: 70rem;
  box-sizing: border-box;
  gap: 3rem;
}

.country {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.name {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
