.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.country {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #7281c5;
}

.name {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: white;
}
