.container {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  gap: 1rem;
}

.cs2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.name {
  color: white;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1rem;
}

@media screen and (max-width: 1025px) {
  .stats {
    flex-direction: column;
  }
}
