.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inputContainer {
  border-radius: 0.2rem;
  background-color: white;
  padding: 1.5rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 70rem;
  height: 1rem;
  display: flex;
  align-items: center;
}

.input {
  outline: none;
  font-size: 1.5rem;
  width: 100%;
  border: 0;
}

.button {
  font-size: 1.5rem;
  background-color: rgb(26, 67, 251);
  border: 0;
  outline: none;
  padding: 1rem;
  color: white;
  border-radius: 2rem;
  box-sizing: border-box;
}
