.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: calc(10px + 2vmin);
}

.SearchArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

.SearchedUserArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 50%;
  max-height: 70vh;
  padding-top: 5rem;
}

.userContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-y: auto;
}
