.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  max-height: 100vh;
  overflow-x: hidden;
  justify-content: space-between;
}
